section {
    display: inline-block;
    margin-top: 3%;
    /* margin-bottom: -5%; */
    background-color: #fff1dc;
}

#world {
    margin-top: -10%;
    margin-bottom: -1%;
    width: 100%;
    max-width: 100%;
    padding-top: 20%;
    padding-bottom: 15%;
}

input {
    background-color: #f8f8f8;
    border: none;
    padding: 7px;
    width: 300px;
}

#labelImage {
    width: 380px;
    padding: 35.3px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f8f8f8;
}

#inputImage {
    /* margin-top: -600px; */
    padding-top: 45px;
    padding-bottom: 45px;
}

select {
    background-color: #f8f8f8;
    border: none;
    padding: 7px;
    width: 313px;
}

form {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 8%;
    position: relative;
    line-height: 3;
    width: 300px;
    padding: 55px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: -46%;
    margin-bottom: 5%;
    background-color: white;
    text-align: center;
}

button {
    text-align: center;
    font-size: 14px;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #fff1dc;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 8px;
    margin-top: 40px;
}

#divPop {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 40%;
    left: 40%;
    width: 240px;
    padding: 30px;
}

#divPop>form {
    border-radius: 10px;
}

#thanksBackground {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0%;
    left: 0%;
    background-color: rgb(0, 0, 0);
    width: 1000%;
    opacity: 0.4;
    height: 1000%;
}

#thanks {
    text-align: center;
    font-size: 40px;
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 1000px;
    background-color: white;
    padding: 40px;
    border: 2px solid #333;
    border-radius: 10px;
}

label {
    margin-right: -23%;
}