input {
    display: inline-block;
    margin-top: 2%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    width: 220px;
    margin-right: 12.4%;
    border: solid 1px black;
}

button {
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: black;
    border: none;
}
#titleCategory{
    margin-left: -0.5%;
    margin-right: -0.5%;
    background-color: #fff1dc;
}
#titleCategory>h2 {
    text-align: center;
    line-height: 1;
    font-size: 130px;
    display: inline-block;
    justify-content: space-evenly;
    color: #cdcdcd;
    width: 100%;
    text-shadow: 0 1px;
    opacity: 4px;
    letter-spacing: 11px;
}

/* מתי שאין תוצאות בחיפוש */
.noResults {
    font-size: 25px;
    color: #d5beae;
    text-align: center;
    opacity: 0.5;
}

/* הגדרות של כל הגמ"חים */
#gmachim>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* לכרטיסיה של כל גמ"ח בנפרד */
.gmach {
    border: solid 1px black;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 0.3;
    background-color: #fff1dc;
    text-decoration: none;
    color: black;
    margin: 2.3%;
}

/* לתמונה שבתוך כל כרטיסית גמ"ח */
.picture {
    width: 40%;
    margin-left: 1%;
    border-right: solid 0.5px black;
    opacity: 0.8;
}

.picture>img {
    width: 125%;
    box-shadow: 0 0 1px 0.2px rgba(87, 87, 87, 0.4);
}

.write>h3:first-child {
    font-size: 17px;
    color: #fff1dc;
    background-color: black;
    padding: 14px;
    margin-right: -5%;
    text-align: center;
}

.write :nth-child(2) {
    font-size: 16px;
}

@media(max-width: 630px) {
    /* html {
        max-width: 100%;
        background-color: black;
    } */
    #titleCategory{
        margin-left: -1.5%;
        margin-right: -1.5%;
    }
    #titleCategory>h2{
        font-size: 80px;
        line-height: 1;
    }

}