#titleNameOfGmach {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    line-height: 5px;
    /* style-הקטנת הגודל ולצבע לכותת השניה.-לראשונה יש כבר ב  */
    font-size: 12px;
    color: #ef5a70;
}
#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#products>div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left: 5%;
    gap: 40px;
    width: 88%;
}

#products>div>a {
    width: 21%;
    min-width: 200px;
    text-decoration: none;
    color: #000000;
    line-height: 1.3;
}

#products>div>a>img {
    width: 110%;
    border: solid 2px #000000;
    border-radius: 3px;
    box-shadow: 0 1px rgb(69, 65, 65);
}

input {
    margin-top: 5%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    width: 220px;
    margin-right: 5%;
    border: solid 1px #000000;
}

button {
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    color: rgb(250, 250, 250);
    background-color: #000000;
    border: solid 1px #000000;
}
h2{
    margin-top: 6%;
}
/* מתי שאין תוצאות בחיפוש */
.noResults{
    font-size: 25px;
    color: #d5beae;
    text-align: center;
    opacity: 0.5;

}

/* הגדרות עיצוב לפופאפ */

#popupSpecificProduct {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    /* Make the popup width 60% of the screen */
    max-width: 1300px;
    /* Set a maximum width for the popup */
    background-color: white;
    padding: 40px;
    padding-bottom: 80px;
    padding-right: 80px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: right;
}

#popupSpecificProduct img {
    width: 44%;
    max-width: 55%;
    /* Set the maximum width for the image */
    float: right;
    margin-left: 25px;
    /* Add margin to the left of the image */
    margin-bottom: 10px;
    /* Add some spacing below the image */
    align-content: center;
}

#popupSpecificProduct div input {
    width: 5%;
    margin-right: -1%;
}

#popupSpecificProduct div {
    font-size: 20px;
    text-align: right;
    /* Align the text content to the right */
    margin-right: 20%;
    /* Margin to create space on the right side */
    width: 90%;
    /* Set the width of the div to 80% */
    max-width: 1500px;
    /* Set a maximum width for the content */
    margin: 0 auto;
    /* Center the content horizontally */
}

#write>h5 {
    font-size: 30px;
    margin-bottom: 1%;
}

#write>h6 {
    font-size: 30px;
    margin-bottom: -5%;
    margin-top: 1%;
}

#close {
    text-align: end;
}

#popupSpecificProduct button {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    padding: 7px 25px;
    cursor: pointer;
}

.popupBackground {
    display: none;
    position: fixed;
    z-index: 999992;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    background-color: rgb(0, 0, 0);
    width: 1000%;
    opacity: 0.4;
    height: 1000%;
}

/* רספונסיביות */
@media screen and (max-width: 600px) {
    #popupSpecificProduct {
        width: 50%;
        /* Adjust width for smaller screens */
        max-width: 50%;
        /* Remove max-width to make it fully responsive */
        text-align: center;
    }

    #close {
        margin-top: -5%;
    }

    #popupSpecificProduct img {
        max-width: 50%;
        /* Adjust the width of the image for smaller screens */
        float: none;
        margin: 0 auto 10px;
        /* Center the image and add bottom margin */
    }

    h6 {
        font-size: 20px;
    }

    h5 {
        font-size: 22px;
    }

    #popupSpecificProduct div {
        font-size: 17px;
        line-height: 1.5;
        text-align: right;
        /* Center align the text content on smaller screens */
        margin-right: 0;
        /* Remove right margin for responsiveness */
    }
}
